<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Css/VerifyOtp.css">
    <script>
        window.onload = function () {
            document.getElementById('home-bg').style.display = "flex";
            document.getElementById('preloader').style.display = 'none';
        }
    </script>
</head>

<body>
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper">
            <img src="/img/preloader2.gif" alt="" width="100%">
        </div>
        <span>Loading , Please Wait</span>
    </div>


    <div class="home-bg" id="home-bg">
        <div class="home-wrap">
            <div class="center-content">
                <div class="top">
                    <form id="form1" class="form1">

                        <div class="top-form1">
                            <h2>Enter details to Verify</h2>
                        </div>

                        <div>
                            <span>Email</span>
                            <input type="email" name="email" id="email" required>
                            <span class="invalid-cred" id="inv-email"></span>
                        </div>

                        <div>
                            <span>Password</span>
                            <input type="password" name="password" id="password" required>
                            <span class="invalid-cred" id="inv-pass"></span>
                        </div>

                        <button id="sub-cred" type="submit">Submit</button>
                    </form>

                    <form id="form2" class="form1">

                        <div class="top-form1">
                            <h2>Enter OTP</h2>
                        </div>

                        <div>
                            <span>OTP</span>
                            <input type="text" name="OTP" id="OTP" maxlength="6" required>
                            <span class="invalid-cred" id="inv-otp"></span>
                        </div>

                        <button id="sub-otp" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/JS/VerifyOtp.js">
    </script>
    <script>
        const form1 = document.getElementById('form1');
        const form2 = document.getElementById('form2');

        const pre_filled_email = localStorage.getItem('email');
        if(pre_filled_email != null){
            document.getElementById('email').value = pre_filled_email; 
        }
        
        form1.addEventListener('submit', SubmitForm1);
        form2.addEventListener('submit', SubmitForm2);

        async function SubmitForm1() {
            event.preventDefault();


            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const sub_cred = document.getElementById('sub-cred');
            const inv_email = document.getElementById('inv-email');
            const inv_pass = document.getElementById('inv-pass');
            




            sub_cred.innerText = "Processing";




            const result = await fetch('/api/signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    password,
                    otpaccess:true
                })
            }).then(res => res.json()).then(data => { obj = data; }).catch(err => console.log(err));




            if (obj.status === "OK") {
                localStorage.setItem('email',email);
                localStorage.setItem('password',password);
                form1.style.display = "none";
                form2.style.display = "flex";                
            }else if (obj.data === "404") {
                inv_email.innerText = "Email incorrect";
                inv_pass.innerText = "Password incorrect";

            } else if(obj.data === "900"){
                inv_email.innerText = "Email incorrect";
                inv_pass.innerText = "Password incorrect";
            }else{
                inv_email.innerText = "";
                inv_pass.innerText = "";
                alert(obj.data);
            }


            sub_cred.innerText = "Submit";
            

        }









        









        async function SubmitForm2() {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const Otp = document.getElementById('OTP').value;
            const sub_cred = document.getElementById('sub-otp');
            const inv_otp = document.getElementById('inv-otp');




            
            if(containsAlpha(Otp)){
                inv_otp.innerText = "Enter valid OTP ( not alphabet )";
                return;
            }else if(containsSpecialChars(Otp)){
                inv_otp.innerText = "Enter valid OTP ( not special characters)";
            }else{
                inv_otp.innerText = "";
            }
            
            sub_cred.innerText = "Processing";

            const result = await fetch('/api/verifyotp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    password,
                    Otp
                })
            }).then(res => res.json()).then(data => { obj = data; }).catch(err => console.log(err));

            if(obj.status === "OK"){
                sub_cred.innerText = "Verified";
                setTimeout( (function(){
                    location.href = "/Sign-In";
                }) ,2000 )
                return;
            }
            
            sub_cred.innerText = "Retry";

        }
        

    </script>
</body>

</html>